:root {
  --main-font: Montserrat, -apple-system, system-ui;
  --main-color: #1d355d;
  --secondary-color: #ff9423;
  --container-desktop: 980px;
  --container-mobile: 85vw;
  --font-weight-bold: 600;
  --selected-card-effect: 0px 0px 0px 2px var(--secondary-color);
  --border-5: 5px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: var(--main-font);
  max-width: 1440px;
  margin: 0 auto;
  font-size: 100%;
  background: linear-gradient(
    225deg,
    rgba(255, 184, 96, 0.11) 0%,
    rgba(45, 112, 234, 0.12) 100%
  );
  background-blend-mode: multiply;
  mix-blend-mode: normal;
  min-height: 100vh;
}

header {
  padding: 20px 5%;
}

button,
input {
  font-family: var(--main-font);
  font-size: 1rem;
  height: 50px;
  box-sizing: border-box;
  border-radius: var(--border-5);
}

.container {
  display: flex;
  max-width: var(--container-mobile);
  width: var(--container-desktop);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

h1 {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin: 0.67em 0 4rem;
  width: 700px;
}

form {
  width: 100%;
}

.form {
  display: grid;
  gap: 10px;
  grid-template-columns: 7fr 3fr;
  /* grid-template-columns: 6fr 2fr 3fr;*/
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8ebef;
  border-radius: var(--border-5);
}

.form__input {
  box-shadow: 0 1px 1px rgba(29, 53, 93, 0.1);
  padding-left: 45px;
  background: url(../assets/globe.svg) no-repeat 8px center #fff;
  border: 2px solid transparent;
}

.form__input:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.card-type {
  display: none;
  /* display: flex;*/
  margin: auto;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--border-5);
  padding: 2px;
  background-color: var(--main-color);
}

.form__radio {
  opacity: 0;
  position: fixed;
  width: 0;
}

.card-type label {
  font-weight: var(--font-weight-bold);
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.form__radio:checked + label {
  background-color: #fff;
  color: var(--main-color);
}

.form__button {
  border: 0;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: var(--font-weight-bold);
  cursor: not-allowed;
}

.form__button:disabled {
  background-color: #bbbbbb;
}

.mobile-cta {
  display: none;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
  margin: 35px 0;
}

.grid-cards label {
  display: flex;
}

.grid-cards input[type="radio"] {
  display: none;
}

.grid-cards input[type="radio"]:checked + .card,
.grid-cards input[type="radio"]:hover + .card {
  box-shadow: var(--selected-card-effect);
}

.grid-cards input[type="radio"]:checked + .card::after {
  content: url(../assets/check.svg);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 3px 5px 0 0;
  background: var(--secondary-color);
  position: absolute;
  box-sizing: border-box;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  top: -1px;
  right: -1px;
}

.grid-cards input[type="radio"]:disabled + .card {
  box-shadow: none;
  cursor: not-allowed;
}

.grid-cards input[type="radio"]:disabled + .card .card__image {
  pointer-events: none;
  opacity: 0.6;
}

.grid-cards input[type="radio"]:disabled + .card .card__content {
  pointer-events: none;
  opacity: 0.3;
}

.grid-cards input[type="radio"]:disabled + .card::after {
  color: #fff;
  content: "Coming soon!";
  position: absolute;
  left: 0;
  width: auto;
  height: auto;
  background: var(--secondary-color);
  padding: 5px;
  font-size: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  box-shadow: 0 0 0 2px #eaebec;
  border-radius: 6px;
  background-color: #f8f8f8;
  cursor: pointer;
  overflow: hidden;
}

.card__content {
  padding: 12px 15px 5px;
  height: 100%;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
  color: var(--main-color);
  box-shadow: 0 -1px 0 0 #eaebec;
  box-sizing: border-box;
}

.card__title {
  font-size: 14px;
  margin: 0;
  color: var(--main-color);
}

.card__image {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  object-fit: contain;
}

.card__text {
  font-size: 12px;
  opacity: 0.6;
  margin: 5px 0 0;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 40px 5%;
    text-align: center;
  }

  .container {
    max-width: var(--container-mobile);
    margin: 0 auto;
  }

  h1 {
    font-size: 1.75rem;
    width: 80%;
  }

  .form {
    grid-template-columns: 1fr;
    height: auto;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 1.625rem;
    margin: 0 0 2rem;
    width: 100%;
  }

  .form {
    width: 100%;
    padding: 0;
    background-color: transparent;
  }

  .card-type {
    width: 60vw;
  }

  .card-type label {
    width: 50%;
  }

  .form__button {
    display: none;
  }

  .mobile-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 -1px 0 0 #eaebec;
    z-index: 1;
  }

  .mobile-cta .form__button {
    display: block;
    width: var(--container-mobile);
  }

  .grid-cards {
    grid-template-columns: 1fr;
    padding-bottom: 100px;
  }

  picture {
    margin: 0 auto;
  }

  .card__image {
    display: inherit;
  }

  .card__title {
    font-size: 15px;
  }

  .card__text {
    font-size: 14px;
  }
}
